/* Los estilos de tu proyecto */
.txt-white{
  color: #fff;
}

.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

body{
  background-color: #F7B617FF;
}

.bar-mov{
  padding-top: 1%; 
  padding-bottom: 1%;
}

.bg-img1{
  background-image: url("../assets/images/taxi.jpg");
  background-size: cover;
  background-position: 75% 92%;
  padding-top: 15%;
  padding-bottom: 15%; 
}

.txt-header{
  background-color: #F7B617FF;
  color: #fff;
  padding-top: 3%;
  padding-bottom: 4%;
}

.dl-new-app{
  border-top: 0.1em solid white;
  border-right: 0.1em solid white;
  border-bottom: 0.1em solid white;
  margin-top: 4%;
  margin-bottom: 4%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.text-download{
  padding-top: 3%;
}

.bg-img2{
  background-image: url(../assets/images/conduce.jpg);
  background-size: 100%;
  background-position: 80% 60%;
}

.text-driver{
  color: white;
  padding-top: 8%;
  margin-top: 0;
  padding-bottom: 12%;
}

.bg-opacity{
  background-color: rgba(0,0,0,0.6);
}

.btn-driver{
  background-color: #F7B617FF;
}

.container-tarifa{
  padding-top: 4%;
  padding-bottom: 4%;
}

.start, .finish{
  border: 0;
  border: 0.1em solid white;
  border-radius: 0.4em;
  background-color: #F7B617FF;
  margin-bottom: 5%;
}

.ico{
  margin-right: 2%;
}

.rute{
  font-weight: bold;
}

.map{
  width: 475px; 
  height: 450px;
  border: 0.1em solid white;
  padding: 1%;
}

footer{
  background-color: #2B2B2BFF;
  color: #fff;
}

.icons{
  padding-top: 26%;
}

.icons a{
  margin-top: 15%;
}

.icons i{
  color: white; 
  font-size: 1.2em; 
  margin-right: 0.5em; 
}

.links a{
  text-decoration: none;
  color: white;
}

.links a:hover{
  text-decoration: none;
  color: lightgrey;
}

.stores{
  padding-top: 15%;
}

.stores img{
  margin-bottom: 5%;
}

.logo-footer{
  padding-top: 3%;
}

footer li{
  list-style: none;
  margin-bottom: 8%;
  margin-top: 6%;
}

.logo-lab{
  padding-top: 3em;
}
.cia{
  padding-bottom: 3em;
}