@media (max-width: 768px){
  .btn-bars{
    float: left;
  }

  .logo-nav {
    margin-left: 45%;
  }

  .text-driver{
    padding-top: 15%;
    padding-bottom: 20%;
  }

  .logo-lab{
    padding-top: 0;
  }
  .icons, .stores{
    padding-top: 0;
  }

  .rute{
    text-align: center;
  }
  
  .iphone{
    margin: 0;
    margin-left: 20%;
    margin-bottom: 5%;
    width: 70%;
  }

  .cont-mov{
    padding-right: 0.7em;
    padding-left: 0.7em;
    margin-left: auto;
    margin-right: auto;
  }

  .img-stores{
    margin-top: 5%;
  }

  .links1 ul{
    padding-left: 0;
  }

  iframe{
    width: 100%;
  }
  
  .cia{
    padding-bottom: 0;
  }
  
}